header {
  background-color: rgb(0, 0, 0);
}

/*------- basic setup -------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: black;
  color: azure;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  font-size: 2em;
  line-height: 200%;
  letter-spacing: 3px;
}
.text {
  text-align: center;
  color: rgb(236, 229, 226);
  text-shadow: 0 0 10px #455a64;
}
p {
  padding: 20px 0;
}
/*--------- section 1 ------------------*/
.section1 {
  background-image: url("../images/header-min.png");
  height: 100vh;
  display: grid;
  width: 100%;
}

/*--------- section 2 ------------------*/
.section2 {
  background: url("../images/header-min-dark.png");
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 600px;
}
/*--------- section 3 ------------------*/
.section3 {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  height: 70vh;
  padding: 50px 0;
}
.grid-image {
  flex: 2;
  background: url('../images/specter4.png');
  border-radius: 25px;
}
.grid-text {
  display: flex;
  flex: 1;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 20px;
}
/*--------- section 4 ------------------*/
.section4 {
  background: url('../images/spectre-hunt.png');
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  height: 70vh;
  padding: 50px 0px;
  margin-bottom: 100px;
  border-radius: 25px;
}
/*--------- section 5 ------------------*/
.section5 {
  background: url('../images//moon.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  margin: 0 auto;
  height: 100vh;
  padding: 50px 0;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
/*--------- section 6 ------------------*/
.section6 {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  height: 80vh;
  padding: 50px 0;
  margin-bottom: 50px;
}
.image6 {
  flex: 2;
  border-radius: 25px;
}
/*--------- section 7 ------------------*/
.section7 {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  height: 80vh;
  padding: 50px 0;
}
.image7 {
  flex: 2;
  background: url('../images/section7.png');
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-attachment: fixed;
}
/*--------- section 8 ------------------*/
.section8 {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  height: 80vh;
  padding: 50px 0;
}
.image8 {
  flex: 2;
  background: url('../images/section8.png');
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-attachment: fixed;
}
/*------------PARALLAX effect class------------*/
.parallax {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
ul {
  text-align: center;
  width: 100%;
  list-style: none;
  margin: 0 auto;
  position: relative;
  padding-left: 25%;
  padding-right: 25%;
}
li {
  margin: 0 auto;
  padding: 20px;
  float: left;
}
.button {
  background-color: rgb(94, 94, 94);
  padding: 11px 25px 11px 25px;
  border-radius: 25px;
  color: azure;
  transition: all .5s;
}
.button:hover {
  background-color: rgb(168, 168, 168);
  color: black;
}